{% extends "base.html" %}

{% macro sort_link(column, text) %}
  {% if order_by == column and direction != "DESC" %}
    <a href="{{ url_for('MonkeysView:index', order_by=column, direction='DESC') }}">
      {{text}}
    </a>
  {% else %}
    <a href="{{ url_for('MonkeysView:index', order_by=column) }}">{{text}}</a>
  {% endif %}
{% endmacro %}

{% block title %}List of monkeys{% endblock %}
{% block content %}
<a href="{{ url_for('MonkeysView:create') }}">Create a new monkey</a>
<table>
  <thead>
    <tr>
      <th>{{ sort_link('name', 'Monkey name') }}</th>
      <th>{{ sort_link('best_friend', 'Best Friend') }}</th>
      <th>{{ sort_link('friends', 'Number of friends') }}</th>
    </tr>
  </thead>
  <tbody>
  {% for monkey in monkeys %}
    <tr>
      <td>
        <a href="{{ url_for('MonkeysView:get', id=monkey.id) }}">
          {{ monkey.name }}
        </a>
      </td>
      <td>
        {% if monkey.best_friend %}
          <a href="{{ url_for('MonkeysView:get', id=monkey.best_friend.id) }}">
            {{ monkey.best_friend.name }}
          </a>
        {% else %}
          I don't have a best friend :'(
        {% endif %}
      </td>
      <td>{{monkey.friends|count}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
