{% extends "base.html" %}

{% block title %}{{monkey.name}}{% endblock %}

{% block content %}
<form method="POST" action="{{url_for('MonkeysView:update', id=monkey.id)}}">
  <div>{{ form.name.label }}: {{ form.name() }}</div>
  <div>{{ form.email.label }}: {{ form.email() }}</div>
  <div>{{ form.age.label }}: {{ form.age() }}</div>
  <input type="submit" value="Submit"></input>
</form>

<form method="POST" action="{{url_for('MonkeysView:destroy', id=monkey.id)}}">
  <input type="submit" value="Delete me!"></input>
</form>
{% endblock %}
