{% extends "base.html" %}

{% macro sort_link(column, text) %}
  {% if order_by == column and direction != "DESC" %}
    <a href="{{ url_for('MonkeysView:index', order_by=column, direction='DESC') }}">
      {{text}}
    </a>
    <span class="glyphicon glyphicon-chevron-up"></span>
  {% else %}
    <a href="{{ url_for('MonkeysView:index', order_by=column) }}">
      {{text}}
    </a>
  {% endif %}
  {% if order_by == column and direction == "DESC" %}
    <span class="glyphicon glyphicon-chevron-down"></span>
  {% endif %}
{% endmacro %}

{% block title %}List of monkeys{% endblock %}
{% block content %}
<a href="{{ url_for('MonkeysView:create') }}"><span class="glyphicon glyphicon-pencil"></span> Create a new monkey</a>
<table class="table table-striped">
  <thead>
    <tr>
      <th>{{ sort_link('name', 'Monkey name') }}</th>
      <th>{{ sort_link('best_friend', 'Best Friend') }}</th>
      <th>{{ sort_link('friends', 'Number of friends') }}</th>
    </tr>
  </thead>
  <tbody>
  {% for monkey in monkeys %}
    <tr>
      <td>
        <a href="{{ url_for('MonkeysView:get', id=monkey.id) }}">
          {{ monkey.name }}
        </a>
      </td>
      <td>
        {% if monkey.best_friend %}
          <a href="{{ url_for('MonkeysView:get', id=monkey.best_friend.id) }}">
            {{ monkey.best_friend.name }}
          </a>
        {% else %}
          I don't have a best friend :'(
        {% endif %}
      </td>
      <td>{{monkey.friends|count}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<div class=pagination>
  Page: 
  {%- for page in pagination.iter_pages() %}
    {% if page %}
      {% if page != pagination.page %}
        <a href="{{ url_for('MonkeysView:index', order_by=order_by, direction=direction, page=page) }}">{{ page }}</a>
      {% else %}
        <strong>{{ page }}</strong>
      {% endif %}
    {% else %}
      <span class=ellipsis>…</span>
    {% endif %}
  {%- endfor %}
  </div>
{% endblock %}
